.sitback__relax{
   top: 85rem;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark-grey);
    color: var(--light);
   

}

.sitback{
    background-color: blue;
    height: 10rem;
}

.sitback__relax p{
    text-align: center;
    font-size: 1.3rem;
    margin: 0 4rem;
}
.sitback__relax h1{
    font-size: 3rem;
    margin-top: -1.5rem;
}

.sitback__relax span{
    font-weight: 800;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.sitback__relax a{
    color: blue;
    margin-bottom: 1rem;
}

.relax{
    width: 20rem;
}
.relax img{
    width: 40rem;
    margin-top: 25rem;
    height: 40rem;
    overflow: hidden;
}

.blanche__cover{
   position: relative;
   bottom: 6rem;
   left: 10rem;
   background-color: white;
   width: 10rem;
   transform: skewX(15deg);
   color: goldenrod;
}
.blanche__cover h1{
    transform: skewX(-10deg);
}

@media only screen and (min-width:768px){
    .relax img{
        width: 25rem;
    }
}