*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:rgb(207, 204, 204);
  --dark-grey: rgb(133, 127, 127);
  --black:black;
  --blue:blue;
  --light:whitesmoke;
}

.worldwide{
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--dark-grey);
  background-color: var(--light);
  color: goldenrod;
}

body{
  background-color: var(--bg-color);
}